/* css reset */
/* *{
   margin: 0;
   padding: 0;
} */
body{
    background-color: white;
    position: relative;
    color: black;
}
/* to highlight the option selected in navbar */
.c{
    background-color: rgba(0, 0,0, 0.3);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}
/* to change the home button color  */
.a img{
    border-radius: 10px;
    margin: -40px 0px;
    filter: brightness(100%);
    filter: invert(1);
    border: 2px solid rgb(0, 0, 0);
}
.logo{
    width: 36px;
    height: 35px;
    filter: invert(1);
    margin: -40px 0px;
    border: 2px solid rgb(202, 202, 202);
    
    border-radius: 10px;
}


/* Navbar */
#navbar ul{
    
    display: flex;
    margin-left: 320px;
    margin-top: 5px;
    font-family: 'Pacifico', cursive;
}

#navbar {
    margin-left: -2px;
    display: flex;
    /* text-align: right; */
    border: 2px solid rgb(7, 7, 7);
    /* background-color: black; */
    height: 85px;
    background: url(bg1.jpg)no-repeat center center/cover;
    opacity: 0.89;
    border-radius: 42px;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 3px;
    margin-bottom: 50px;
    z-index: 100000;
}
#navbar ul li {
    list-style: none;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 8px;
    padding: 10px;
}
#navbar ul li a{
    text-decoration: none;
    color: rgb(252, 252, 252);
    display: block;
}
.search{
    float: left;
    margin: 44px 30px;
    background-color: black;
    text-decoration: none;
    box-sizing: border-box;
    background: rgba(0, 0,0, 0.3);
    outline: none;
    
   cursor: text;
    height: 26px;
    border: 2px solid black;
    border-radius: 8px;
    width: 212px;
    /* color: red; */
}
.searchbtn{
    float: left;
    cursor: pointer;
    margin: 44px -19px;
    border-radius: 8px;
    height: 26px;
    color: white;
    background: black;
    width: 63px;
}
#navbar ul li a:hover {
color: rgb(188, 5, 5);

}
.drop{
    display: none;
    position: absolute;
    border:2px solid black;
    border-radius: 10px;
    margin: 10px -58px;
   width: 173px;
    background: url(nav.jpg)no-repeat center center/cover ;

    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.9); */
}

.drop a{
    display: block;
    padding: 23px;
    text-decoration: none;
    text-align: center;
    /* color: red; */
    
}

.menu:hover .drop{
    
    display: block;
   
}

/* logo and image */
#logo {
    margin: -15px 0px;
}
#logo img {
    float: left;
    height: 56px;
    margin: 29px 30px;
}
.box1{
    display: flex;
    align-items: center;
  flex-direction: column;
    height: 443px;
    /* border: 2px solid black; */
    margin: 23px 23px;
   

}
.box1 p{
    margin: 8px 336px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box2{
    display: flex;
    justify-content: center;
    height: 443px;
    /* border: 2px solid black; */
    margin: 197px 23px;
    align-items: center;
    margin-top: 205px;
    flex-direction: column;
}
.box3{
    display: flex;
    justify-content: center;
    height: 443px;
    border: 2px solid black;
    margin: 23px 23px;
   TEXT-ALIGN: CENTER;

}

 #section1::before 
 {
        content: "";
        background: url(bg.jpg) no-repeat center center/cover;
        position: absolute;
        height:32%;
        width: 101%;
        z-index: -1;
        opacity: 0.89;
        top: -8px;
        left: -7px;
        /* right: -95px; */
    }
 #section2::before 
 {
    content: "";
    background: url(box2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 49%;
    width: 101%;
    z-index: -1;
    opacity: 0.89;
    top: -10px;
    left: -8px;
    margin-top: 795px;
    /* right: -95px; */
 }
.primary{
    font-size: 3.5rem;
    text-align: center;
}
.box2 h1{
    text-align: center;
    margin-top: 190px;
}

 .box1 h2{
    font-size: 2rem;
    margin-top: 256px;
}
 .giphy{
    display: flex;
    width: 200px;
    margin-top: -34px;
    background-color: #ffffff;
    /* opacity: 0.89; */
    height: 290px;
    border: none;
 }
 .s1{
    display: flex;
    align-items: center;
 }
 .s1 img{
    width: 200px;
    height: 200px;
    margin: -24px 63px;
    margin-top: -18px;
    border-radius: 10px;
   
}
 .s1 p{
        margin: 5px 75px;
        padding: 12px -14px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(0, 0, 0);
 }
 .s2{
    display: flex;
    margin-bottom: -93px;
 }
 .s2 img{
    width: 264px;
    height: 209px;
    margin: -29px 71px;
    margin-top: 38px;
    border-radius: 10px;
 }
.s2 p{
    margin: 122px 75px;
    padding: 12px -14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .span1{
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .footer1 {
    position: relative;
    background: black;
    color: white;
    padding: 9px;
    top: 20px;
    margin: 0;
    width: 101%;
    left: -8px;
    padding: 0;
}
.center {
    text-align: center;
}

/* contact btn */

.buttonClass{
    border-radius: 10px;
  margin-left: 696px;
    border: 2px solid forestgreen;
    padding: 8px 12px;
    background:linear-gradient(#44c767, #5cbf2a); 
    text-decoration: none;

}
.buttonClass:hover{
    
    background:linear-gradient( #5cbf2a,#44c767); 
}
.cont{
    text-align: center;
}              

/* Responsive CSS */
@media screen and (max-width:900px){
    .search{
        display: none;
    }
    .searchbtn{
        display: none;
    }
}
@media screen and (max-width:750px){
    .primary{
        font-size: 2.4rem;
    }
    .box1 h2{
        font-size: 1.5rem;
    }
}